<nav>
    <mat-toolbar>
        <button mat-fab (click)="funcion()"><mat-icon>menu</mat-icon></button>
        
        <div class="logo">
            <img src="../../assets/imgs/logo.jpg">
        </div>

        <div class="enlaces">
            <a routerLink="home" routerLinkActive="active-link">Home</a>
            <a routerLink="cities" routerLinkActive="active-link">  Cities</a>
            <a routerLink="traditions" routerLinkActive="active-link">    Traditions</a>
            <a routerLink="monuments" routerLinkActive="active-link">  Monuments</a>
            <a routerLink="contact" routerLinkActive="active-link">    Contact</a>
        </div>
    </mat-toolbar>
</nav>