<mat-drawer-container class="example-container" autosize>
    <mat-drawer *ngIf="valorFinal==true" #sidenav mode="side" opened>
        <div class="enlaces">
            <a routerLink="home" routerLinkActive="active-link"><mat-icon>home</mat-icon>   Home</a>
            <a routerLink="cities" routerLinkActive="active-link"><mat-icon>location_city</mat-icon>  Cities</a>
            <a routerLink="traditions" routerLinkActive="active-link"><mat-icon>diversity_3</mat-icon>    Traditions</a>
            <a routerLink="monuments" routerLinkActive="active-link"><mat-icon>map</mat-icon>  Monuments</a>
            <a routerLink="contact" routerLinkActive="active-link"><mat-icon>contact_page</mat-icon>    Contact</a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <app-navbar (enviar)="actualizar($event)"></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>