<div class="container">
    <video id="video" controls preload="metadata">
        <source src="../../assets/videos/liverpool.webm" type="video/webm" />
        <source src="../../assets/videos/liverpool.mp4" type="video/mp4" />
        <track label="English" kind="subtitles" srclang="es" src="../../assets/videos/liverpool.vtt" />
    </video>
</div>
<div class="container">
    <p>Primal (Also known as Genndy Tartakovsky's Primal) is an American adult animated television series on Adult Swim
        by Dexter's Laboratory and Samurai Jack creator Genndy Tartakovsky. The series consists of twenty half-hour
        episodes. The first half of the series had a five-night premiere starting October 7, 2019, with the second half
        premiering on October 4, 2020.</p>
</div>